<section class="row bg-warning p-5">
        <div class="col-md-3 P-1">
            <h3 class="text-white">JUMIA PHONE SHOP</h3>
            <P class="text-white">your one-stop shop for the latest smartphones and acccessories</P>
        </div>
        <div class="col-md-3 P-1">
            <h3 class="text-white">QUICK LINKS</h3>
            <a class="text-center text-white" href="index.html">Home</a><br>
            <a class="text-center text-white"href="products">products</a><br>
            <a class="text-center text-white"href="About us">About us</a><br>
            <a class="text-center text-white"href="contact">contact</a>
        </div>
        <div class="col-md-3 P-1">
            <h3 class="text-white">Contact US</h3>
            <P class="text-white ">Email: Suppost@vv.com</P>
            <P class="text-white ">Phone: +855(123) 123-123</P>
            <P class="text-white ">Address: nv pp yg ng</P>
        </div>

        <div class="col-md-3 P-1">
            <h3 class=" text-white">FOLLOW US</h3>
            <img src="../static/images/fb.png" alt="">
            <img src="../static/images/in.png" alt="">
        </div>

            <p style=" color: white;  text-decoration: overline" align="center">&copy; All rights reserved | privacy policy</p>


</section>